.footer {
  background-color: #1976d2;
  position: relative;
  line-height: 24px;
  line-height: 2.4rem;
  flex: 1;
  padding: 48px 25px;
  z-index: 0;
  font-weight: 300;
}
.footer::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/angular_whiteTransparent_withMargin.png) top 0 left 0
      repeat,
    url(/angular_whiteTransparent_withMargin.png) top 80px left 160px
      repeat;
  opacity: 0.05;
  background-size: 320px auto;
}

.oderlist {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}
